
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #787878;
    margin:0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color: antiquewhite;
    height: 300px;
    width: 350px;
    border-radius: 8px;
    padding:30px;
}

h2{
    color: #2370bd;
    text-align: center;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;

}

input{
    margin:10px;
    padding:5px;
}

#input-names{
    display: flex;
    justify-content: space-between;
}
#firstname{
    width: 40%;
}
#lastname{
    width: 40%;
}

#login-btn{
    height: 40px;
    width: 50%;
    border-radius: 8px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
}
button:hover{
    background-color: rgb(134, 134, 163);
}