
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Poppins',sans-serif;
  background-color:#e5e5e5;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.container{
  background-color:white;
  width:300px;
  height:400px;
  border-radius:25px;
  overflow:hidden;
  position:relative;
  padding-bottom:20px;
}

.header{
  background-color:#5B8DEF;
  height:150px;
  width:100%;
  border-radius:25px 25px 0 0;
  
}


img{
  width:125px;
  height:125px;
  object-fit:cover;
  border-radius:50%;
  position:absolute;
  left:50%;
  transform:translateX(-50%);
  top:50px;
  border: 2px solid white;
  box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);
}

.content{
  padding:30px;
  text-align:center;
}

h2{
  padding:5px;
}

.social-icons{
  margin:10px;
  display: flex;
  justify-content: space-around;
  
}
.social-icons a{
  width: 35px;
  height:35px;
  border-radius:50%;
  text-decoration:none;
  font-size:18px;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.facebook{
  background-color:#1877f2;
}
.twitter{
  background-color: #1da1f2;
}
.instagram{
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}
.youtube{
  background-color: #ff0000;
}

.buttons{
  display: flex;
  justify-content: center;
  gap:15px;
  margin-bottom:15px;
  margin-top:15px;
}
.buttons button{
  padding: 12px 30px;
  border-radius:25px;
  font-size:14px;
  font-weight:500;
  cursor:pointer;
  border:none;
  outline:none;
}

.buttons button:first-child{
  background-color:#5B8DEF;
  color:white;
 }

.buttons button:last-child{
   background-color:white;
  color:#5B8DEF;
  border: 2px solid #5B8DEF;
}

.stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
}